

body {
  margin: 0;
  font-family: 'Prestage';

  background-color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Prestage';
  src:
  url(./fonts/Prestage\ Regular.ttf);
}
